# Node modules
node_modules/

# .env file (contains sensitive information, should not be versioned)
.env

# Next.js build artifacts
.next/

# Compiled files
out/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Visual Studio Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Cache files
.cache/
.cache-loader/

# Next.js development server
*.pnp.js

# Yarn Integrity file
.yarn-integrity

# IntelliJ
.idea/

# IDE-specific files
*.iml
*.iws
*.ipr
*.ids
*.orig

# npm package locks
package-lock.json
yarn.lock

# Lock files
.lock-wscript
.lock-stamp
.lock-*

# build output
build/
